/* Web Fonts */
@font-face {
    font-family: 'Fascinate', cursive;
}
@font-face {
    font-family: 'Quicksand', sans-serif;
}

/* Base Element Styles */
* {
    box-sizing: border-box;
}
body {
    font-family: "Quicksand", sans-serif;
    line-height: 1.6;
    font-weight: 300;
    color: #212121;
}
h1,
h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}
p {
   font-size: 1.1em;
    margin-bottom: 1.1em;
    color: #212121;
}
h1 {
    color: ghostwhite;
    font-size: 2.5em;
    text-align: center;
}
h2 {
    color: #33414f;
}
form {
    background: #fff;
    /*padding: ;*/
    max-width: 400px;
    margin: 15px 10px 0;
    /*box-shadow: 0 0 1em #222;*/
    /*border-radius: 5px;*/
}
legend {
    color: #33414f;
    font-size: 1.5em;
}

/* Base Layouts Styles */
.thick-line {
    border-bottom: 5px solid #33414f;
    display: block;
    margin: 20px 15px 10px 15px;
}
.thin-line {
    border-bottom: 2px solid #33414f;
    display: block;
    margin: 0 15px 20px 15px;
}
.logo {
    background-color: #33414f;
}


/* Layout Containers */
.info-banner {
    margin: 5px 15px 15px 10px;
    text-align: center;

}
.container-contact {
    display: flex;
    flex-direction: column;
}

/* Media Queries */
@media (min-width: 768px) {
    body {
        padding-top: 20px;
    }
}

